/* figma link: https://www.figma.com/file/2jVBTSKeCYF0dIN6fi0stX/recipe-blog-challenge?node-id=1%3A100&t=hrysIGMWSvxXiR4q-0 */

:root {
    --clr-background: #ffffff;

    --clr-primary-100: #1b1818;
    --clr-primary-300: #bdbdbd;
    --clr-primary-500: #4f4f4f;
    --clr-primary-600: #333333;
    --clr-primary-900: #000000;

    --clr-accent-400: #f2994a;

    /* --ff-logo: 'Crimson Pro', serif; */
    --ff--primary: 'Montserrat', sans-serif;
    --ff-accent: 'Playfair Display', serif;
    --ff--credit: 'Montserrat', sans-serif;

    /* --fw-thin: 200; */
    --fw-regular: 400;
    --fw-medium: 500;
    /* --fw-semi-bold: 600; */
    --fw-bold: 700;

    --fs-50: 0.625rem;
    --fs-100: 0.75rem;
    --fs-200: 0.825rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;

    --fs-body: var(--fs-300);
    --fs-heading: var(--fs-600);
    --fs-credit: var(--fs-300);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/** --- Basic --- */

body {
    font-family: var(--ff--primary);
}

/* header */
.recipe-title {
    font-family: var(--ff-accent);
}
header div {
    display: flex;
    align-items: flex-start;
}
.recipe-description {
    font-family: var(--ff--primary);
    font-weight: 500;
    color: var(--clr-primary-500);
    font-style: italic;
}
/* ! ============ */
.container {
    max-width: 970px;
    margin: 0 auto;
    padding-bottom: 4rem !important;
}
/* ! ============ */

/* Main */

.detail {
    display: grid;
    grid-template-columns: 1.4rem 1fr;
    column-gap: 1rem;
}
.detail:first-child .detail-icon {
    color: var(--clr-accent-400);
}
.detail:first-child .detail-itself {
    color: var(--clr-accent-400);
}
.detail-icon {
    grid-row: span 2;
    align-self: center;
}
.detail-name {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-300);
}
.detail-itself {
    font-weight: var(--fw-medium);
    color: var(--clr-primary-600);
}

.recipe-quick-details {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.detail:first-child {
    grid-column: span 4;
}

.recipe-ingredients {
    color: var(--clr-primary-600);
}
.recipe-ingredients h2 {
    font-weight: var(--fw-bold);
    font-family: var(--ff-accent);
}
.recipe-ingredients h3 {
    font-weight: var(--fw-regular);
    font-family: var(--ff-accent);
    font-style: italic;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ingredient {
    display: flex;
    gap: .5rem;
    cursor: pointer;
}

.ingredient .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 24px;
    aspect-ratio: 1;
    color: var(--clr-background);
    border-radius: 6px;
    border: 1px solid var(--clr-primary-300);

    transition: background-color .3s ease, border .3s ease;
}
.checkbox span {
    font-size: 0rem;
    transition: font-size .3s ease;
}
.ingredient.checked .checkbox {
    background-color: var(--clr-accent-400);
    border: none;
}
.ingredient.checked .checkbox span{
    font-size: 1.25rem;
}


.instruction {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
.recipe-instructions h2 {
    font-family: var(--ff-accent);
}
.recipe-instructions ol {
    padding: 0;
    list-style-type: none;
}
.instruction-number {
    background-color: var(--clr-accent-400);
    color: var(--clr-background);
    font-size: var(--fs-400);
    line-height: 24px;
    height: 2.25rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: var(--fw-medium);
}

/* * mobile */

.container {
    padding: 0 .75rem;
}
header {
    padding-top: 2rem;
}

header div {
    gap: .75rem;
    margin-top: .75rem;
}

.recipe-title {
    font-size: var(--fs-500);
}
.six-dots {
    margin-top: .25rem;
}
.recipe-description {
    line-height: 15px;
    color: var(--clr-primary-500);
    font-size: var(--fs-200);
    padding-right: 15px;
}

/*  */
.recipe-img {
    margin-top: 1.5rem;
    border-radius: .75rem;
}
/*  */
.recipe-quick-details {
    margin-top: 1.5rem;
    row-gap: 1rem;
}

.detail-icon {
    font-size: var(--fs-300);
}
.detail {
    gap: .125rem;
}
.detail-name {
    font-size: var(--fs-50);
    line-height: .75rem;
}
.detail-itself {
    font-size: var(--fs-100);
    line-height: .75rem;
}

/*  */
.recipe-ingredients h2 {
    margin-top: 1.75rem;
    font-size: var(--fs-400);
}
.ingredient p span {
    font-weight: var(--fw-bold);
}
.sub-recipe {
    margin-top: 2.25rem;
}
.sub-recipe:first-of-type {
    margin-top: .75rem;
}
.sub-recipe h3 {
    font-size: var(--fs-300);
}

.sub-recipe ul {
    margin-top: 1.5rem;
    display: grid;
    gap: .75rem;
    font-size: var(--fs-200);
}

/*  */
.recipe-instructions {
    margin-top: 2rem;
}
.recipe-instructions h2 {
    font-size: var(--fs-500);
}
.recipe-instructions ol {
    margin-top: 1.5rem;
    display: grid;
    gap: .75rem;
}
.instruction p span {
    font-weight: var(--fw-bold);
}

/*  */

.recipe-source {
    font-size: var(--fs-100);
    color: var(--clr-primary-300);
}
.recipe-source a {
    color: inherit;
    text-decoration: none;
}